@keyframes heart {
  0%, 40%, 70%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.05);
  }  
}
.heart {
  animation: heart 1400ms infinite;
}
